body {
  font-family: 'Roboto', sans-serif;
}

/* .main {
  /* width: 1600px;
  /* margin: 0 auto;
} */

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.top-menu {
  width: 1600px;
  height: 80px;
  left: 10px;
  top: 0px;
}

.menu-main li {
  display: inline-block;
  padding: 5px 0;
}

.menu-main {
  list-style: none;
  padding: 10px 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.link1 {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.link2 {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.hero {
  background-color: #2f303a;
  color: white;
}
/* .button {
  /* background-color: #2196f3;
  /* color: white;
} */

.photo {
  font-family: 'Roboto', sans-serif;
}
